Repository ulyagram77/baller-bot-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, stylelint --fix

initial setup
  .lintstagedrc
Due: none

initial setup
  public/banner.png
Due: none

feat: added Roboto font files and define font-face styles in CSS
  src/assets/fonts/Roboto-Bold.woff
  src/assets/fonts/Roboto-Bold.woff2
  src/assets/fonts/Roboto-Regular.woff
  src/assets/fonts/Roboto-Regular.woff2
  src/styles/fonts.css
Due: none

chore: some project improvements
  .gitignore
  .prettierrc
  .stylelintrc.json
  public/vite.svg
  src/assets/react.svg
  yarn.lock
Due: prettier --write --ignore-unknown

seo: added adaptive favicon
  index.html
  package.json
  public/favicon/favicon-96x96.png
  public/favicon/favicon.ico
  public/favicon/favicon.svg
  public/favicon/site.webmanifest
  public/favicon/web-app-manifest-192x192.png
  public/favicon/web-app-manifest-512x512.png
  public/meta-image.png
Due: prettier --write --ignore-unknown

feat: added hero section, some default styles and header
  public/favicon/apple-touch-icon.png
  src/assets/img/decoration.svg
  src/assets/img/index.ts
  src/assets/img/intro-image.svg
  src/components/app/App.tsx
  src/components/app/index.tsx
  src/components/features/index.tsx
  src/components/footer/index.tsx
  src/components/header/index.tsx
  src/components/hero/index.tsx
  src/core/api/index.ts
  src/core/services/index.ts
  src/core/utils/tailwind-utils.ts
  src/main.tsx
  src/styles/index.css
Due: eslint --fix, prettier --write --ignore-unknown

feat: added reac-router and created pages
  package.json
  src/components/app/index.tsx
  src/components/features/index.tsx
  src/components/footer/index.tsx
  src/components/header/index.tsx
  src/core/constants/index.ts
  src/main.tsx
  src/pages/about/index.tsx
  src/pages/features/index.tsx
  src/pages/home/hero/index.tsx
  src/pages/home/index.tsx
  src/pages/not-found/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added base meta-tags, og-tags, robots, sitemap
  index.html
  package.json
  public/sitemap.xml
  robots.txt
  src/components/app/index.tsx
  src/core/config/index.ts
  src/core/constants/index.ts
  src/main.tsx
  src/pages/about/index.tsx
  src/pages/features/index.tsx
  src/pages/home/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

feat: added lazy loading for pages
  src/components/app/index.tsx
  src/pages/about/index.tsx
  src/pages/features/index.tsx
  src/pages/home/index.tsx
  src/pages/not-found/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: improved SEO
  index.html
  public/meta-about.png
  public/meta-features.png
  src/pages/about/index.tsx
  src/pages/features/index.tsx
  src/pages/home/index.tsx
  src/pages/not-found/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

updated docs
  README.md
Due: prettier --write --ignore-unknown

chore: added link to bot
  src/pages/home/hero/index.tsx
Due: eslint --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --fix: any of: src/**/*{.ts,.tsx}
  prettier --write --ignore-unknown: ((any of: src/**/*{.ts,.tsx}) or (any of: src/**/*.{css})) or (any of: *.{json,md})
  stylelint --fix: any of: src/**/*.{css}
